<!DOCTYPE html>
<h1>
    Tic-Tac-Toe
  </h1>
  <div class = "main">
    
    <div>
    <button class = "theme" (click) = "toggleTheme()">Theme</button>
    <div class = "row">
      <div class = "item" id="1" (click)="toggleValue('1')"><div class = 'theme1'>{{grid[1]}}</div></div>
      <div class = "item" id="2" (click)="toggleValue('2')"><div class = 'theme1'>{{grid[2]}}</div></div>
      <div class = "item" id="3" (click)="toggleValue('3')"><div class = 'theme1'>{{grid[3]}}</div></div>
    </div>
    <div class = "row">
      <div class = "item" id="4" (click)="toggleValue('4')"><div class = 'theme1'>{{grid[4]}}</div></div>
      <div class = "item" id="5" (click)="toggleValue('5')"><div class = 'theme1'>{{grid[5]}}</div></div>
      <div class = "item" id="6" (click)="toggleValue('6')"><div class = 'theme1'>{{grid[6]}}</div></div>
    </div>
    <div class = "row">
      <div class = "item" id="7" (click)="toggleValue('7')"><div class = 'theme1'>{{grid[7]}}</div></div>
      <div class = "item" id="8" (click)="toggleValue('8')"><div class = 'theme1'>{{grid[8]}}</div></div>
      <div class = "item" id="9" (click)="toggleValue('9')"><div class = 'theme1'>{{grid[9]}}</div></div>
    </div>
  </div>
  </div>